body{
  font-family: 'Ubuntu Condensed', sans-serif;
    background: #EBEEFF;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.nav{
  max-width: 1300px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.logo img{
  margin-left: -10px;
   width: 50%;
}

.logo p{
  position: absolute;
  margin-top:55px;
  margin-left: 3px;
  font-size: 20px;
  text-transform: uppercase;
  color: #606060;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;

}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  padding-top: 10px;
  list-style: none;
  text-align: center;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:baseline;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 7px 0 5px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #606060;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .3s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

.dropbtn {
  list-style: none;
  color: #606060;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 7px 0 5px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
  background-color: #ffffff;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(255, 255, 255);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #feb386;}

.promo{
  display:flex;
  justify-content: space-between;
  height: auto;
  background: url(../img/images.jpg) no-repeat;
  background-size: cover;
  border-radius: 0 0 30px 30px;
  display:flex;
  justify-content: space-between;
}

.promo img{
  margin-right: 40px;
  width: 45%;
  

}

.promo p{
   width: 250px;
  font-size: 60px;
  margin-top: 100px;
  margin-left: 170px;
align-items: center;
}